<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rds.judicial.mapper.RdsJudicialTestMapper" >
	<insert id="getTest" parameterType="map">
		insert into TB_UPC_USERS values('11','11','1')	
	</insert>
</mapper>