<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rds.judicial.mapper.RdsJudicialIdentifyPerMapper">
    <select id="queryIdentify" resultType="com.rds.judicial.model.RdsJudicialIdentifyModel">
        select * from tb_judicial_identify_per where laboratory_no = #{laboratory_no}
    </select>

    <insert id="insertCaseToIdentify" parameterType="map">
        insert into tb_judicial_case_to_identify
        (case_id, identify_id,trans_date)
        values(#{case_id},#{identify_id},#{trans_date})
    </insert>

    <select id="queryIdentifyByCaseId" parameterType="string" resultType="com.rds.judicial.model.RdsJudicialIdentifyModel">
        select distinct b.identify_code,b.identify_per from
        (SELECT case_id,identify_id,trans_date FROM tb_judicial_case_to_identify where case_id = #{case_id}) a
        LEFT JOIN tb_judicial_identify_per b
        ON a.`identify_id`=b.`identify_id`
        ORDER BY b.`identify_id`
    </select>
    
    <update id="updateIdentifyByCaseid" parameterType="map">
        update tb_judicial_case_to_identify set identify_id = #{identify_id}, trans_date= #{trans_date}
        where case_id = #{case_id}
    </update>
    
    <delete id="deleteIdentifyByCaseid" parameterType="map">
		DELETE FROM `tb_judicial_case_to_identify` WHERE `case_id` = #{case_id}
	</delete>
	
            <select id="queryIdentifynameByCaseId" parameterType="map" resultType="int">
		SELECT COUNT(*) FROM  tb_judicial_case_to_identify WHERE case_id =  #{case_id}
	</select>
</mapper>