<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rds.bacera.mapper.BaceraInvasiveOwnpersonToEmailsMapper">

    
    <insert id="insert" parameterType="map">
        insert into tb_invasive_ownperson_toEmails (id,ownperson,
        ownpersonname, toEmails, remark)
        values(#{id},#{ownperson},#{ownpersonname},#{toEmails},
        #{remark})
    </insert>

    <delete id="delete" parameterType="map">
        delete from tb_invasive_ownperson_toEmails where id = #{id}
    </delete>
    
    <select id="queryAllPage" parameterType="map"
            resultType="com.rds.bacera.model.BaceraInvasiveOwnpersonToEmailsModel">
           SELECT 
			     a.`id`,
				 a.`ownperson`,
				 a.`ownpersonname`,
				 a.`toEmails`,
				 a.`remark`,
				a.`ownperson` AS 'KEY',
				a.`toEmails` AS 'value'
				 FROM tb_invasive_ownperson_toEmails a
				WHERE 1 = 1 
        <if test=" ownpersonname !=null and ownpersonname != '' ">
            and ownpersonname like '%${ownpersonname}%'
        </if>
        <if test=" ownperson !=null and ownperson != '' ">
            and ownperson like CONCAT('%',#{ownperson},'%')  
        </if>
        <if test="start!=null and limit!=null">
            limit #{start},#{limit}
        </if>
    </select>
    <select id="queryOwnperson" parameterType="map"
            resultType="String">
           SELECT 
               a.`toEmails`
				 FROM tb_invasive_ownperson_toEmails a
                         where #{ownpersonname} LIKE CONCAT('%',a.`ownpersonname`,'%')
                           limit 1

    </select>
   
    <select id="queryExsit" parameterType="map"
            resultType="int">
      
		SELECT COUNT(1) FROM tb_invasive_ownperson_toEmails 
            where ownperson=#{ownperson} 
        
    </select>
    
     <select id="queryAllCount" parameterType="map"
            resultType="int">
		 SELECT COUNT(1) 
		FROM tb_invasive_ownperson_toEmails 
		WHERE 1 = 1 
        <if test=" ownpersonname !=null and ownpersonname != '' ">
            and ownpersonname like '%${ownpersonname}%'
        </if>
        <if test=" ownperson !=null and ownperson != '' ">
            and ownperson like CONCAT('%',#{ownperson},'%')  
        </if>
    </select>

    <update id="update" parameterType="map" >
    	update tb_invasive_ownperson_toEmails  set 
    	ownpersonname = #{ownpersonname},
    	ownperson = #{ownperson},
    	toEmails= #{toEmails}
    	where id=#{id}
    </update>

</mapper>