<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rds.bacera.mapper.RdsBaceraFolicAcidMapper" >
	<resultMap id="folicAcid" type="com.rds.bacera.model.RdsBaceraFolicAcidModel">
		<id column="id" property="id"/>
		<result column='num' property="num"/>
		<result column='date' property="date" />
		<result column='name' property="name" />
		<result column='age' property="age" />
		<result column='sex' property='sex' />
		<result column='testitems' property="testitems" />
		<result column='diagnosis' property="diagnosis" />
		<result column='checkper' property="checkper" />
		<result column='phonenum' property="phonenum" />	
		<result column='hospital' property="hospital" />
		
		<result column='agentid' property="agentid" />
		<result column='agentname' property="agentname" />
		<result column='ownperson' property="ownperson" />
		<result column='ownpersonname' property="ownpersonname" />
		
		<result column='receivables' property="receivables" />
		<result column='payment' property="payment" />
		<result column='paid' property="paid" />
		<result column='paragraphtime' property="paragraphtime" />
		<result column='account_type' property="account_type" />
		
		<result column='expresstype' property="expresstype" />
		<result column='expressnum' property="expressnum" />
		<result column='expressremark' property="expressremark" />
		<result column='recive' property="recive" />
		
		<result column='remark' property="remark" />
		<result column='remarks' property="remarks" />
		<result column='cancelif' property="cancelif" />
		<result column='expresstime' property="expresstime" />
		<result column='areaname' property="areaname" />
		<result column='remittanceName' property="remittanceName" />
		<result column='remittanceDate' property="remittanceDate" />
		
		<result column='confirm_flag' property="confirm_flag" />
		<result column='confirm_date' property="confirm_date" />
		<result column='discountPrice' property="discountPrice" />
	</resultMap>
	<!-- 插入肿瘤个体检测信息-->
	<insert id="insert" parameterType="map">
	insert into tb_folic_acid
	(id,num
			<if test="date != '' and date != null">
				,date
			</if>
		,name,age,sex,testitems,diagnosis,checkper,ownperson,remark,phonenum,hospital
			<if test="inputperson != '' and inputperson != null">
				,inputperson
			</if>
	)values(#{id},#{num}
			<if test="date != '' and date != null">
				,#{date}
			</if>
			,#{name},#{age},#{sex},#{testitems},#{diagnosis},#{checkper},#{ownperson},#{remark},#{phonenum},#{hospital}
			<if test="inputperson != '' and inputperson != null">
				,#{inputperson}
			</if>
			)
	</insert>
	<update id="update" parameterType="map">
		update tb_folic_acid 
		set 
			<if test="num != '' and num != null">
				num=#{num}
			</if>	
			<if test="date != '' and date != null">
				,date=#{date}
			</if>	
			<if test="name != null">
				,name=#{name}
			</if>	
			<if test="age != null">
				,age=#{age}
			</if>	
			<if test="sex != null">
				,sex=#{sex}
			</if>
			<if test="testitems != null">
				,testitems=#{testitems}
			</if>	
			<if test="phonenum != null">
				,phonenum=#{phonenum}
			</if>	
			<if test="checkper != null">
				,checkper=#{checkper}
			</if>	
			<if test="ownperson != null">
				,ownperson=#{ownperson}
			</if>	
			<if test="remark != null">
				,remark=#{remark}
			</if>	
			<if test="hospital != null">
				,hospital=#{hospital}
			</if>	
			<if test="diagnosis != null">
				,diagnosis=#{diagnosis}
			</if>	
			<if test="cancelif != '' and cancelif != null">
				,cancelif=#{cancelif}
			</if>	
			where id = #{id}
	</update>
	<!-- 根据id删除信息 -->
	<delete id="delete" parameterType="map">
		delete from tb_folic_acid where id = #{id}
	</delete>
	<!-- 分页查询肿瘤个体信息 -->
	<select id="queryAllPage" parameterType="map" resultMap="folicAcid">
		 SELECT 
			  a.`id`,
			  a.`num`,
			  a.`name`,
			  a.`date`,
			  a.`age`,
			  a.`sex`,
			  a.`testitems`,
			  a.`diagnosis`,
			  a.`phonenum`,
			  a.`ownperson` AS ownperson,
			 s.`username` AS ownpersonname,
			  s.`agentname`,
			  s.`areaname`,
			  a.`remark`,
			  a.`hospital`,
			  a.`checkper`,
			  fi.`receivables`,
			  fi.`payment`,
			  fi.`paid`,
			  fi.`paragraphtime`,
			  fi.discountPrice,
			  fi.`account_type`,
			  fi.remarks,
			  fi.remittanceDate,
			  fi.remittanceName,
			  fi.confirm_flag,
			  fi.confirm_date,
			  i.`expressnum`,
			  i.`expresstype`,
			  i.`recive`,
			  i.expresstime,
			  a.`cancelif` ,
			  i.expressremark
			FROM
			  tb_folic_acid a 
			   LEFT JOIN `tb_charge_standard` s 
			 ON a.`ownperson` = s.`id` 
			  LEFT JOIN tb_finance_info fi
			  ON a.`id` = fi.`id`
			  LEFT JOIN tb_express_info i 
			    ON a.`id` = i.`id`
			  WHERE 1=1
			<if test="num != '' and num != null">
				and a.num like concat('%', #{num}, '%') 
			</if>	
			<if test="name != '' and name != null">
				and a.name like concat('%', #{name}, '%') 
			</if>	
			<if test="reportif == 1 ">
				AND i.`expresstype` IS NOT NULL
			</if>	
			<if test="reportif == 2 ">
				AND i.`expresstype` IS NULL
			</if>	
			<if test="folicAcid_starttime != '' and folicAcid_starttime != null">
				and a.date >= #{folicAcid_starttime}
			</if>	
			<if test="folicAcid_endtime != '' and folicAcid_endtime != null">
				and #{folicAcid_endtime} >= a.date
			</if>	
			<if test="cancelif != '' and cancelif != null">
				and a.cancelif = #{cancelif}
			</if>	
			<if test="ownperson != '' and ownperson != null">
				and s.`username` like concat('%', #{ownperson}, '%') 
			</if>	
			<if test="agent != '' and agent != null">
				and s.`agentname`  like concat('%', #{agent}, '%') 
			</if>	
			<if test="areacode != '' and areacode != null">
				AND s.`areacode`= #{areacode}
			</if>
			<if test="hospital != '' and hospital != null">
				AND a.`hospital` like concat('%', #{hospital}, '%') 
			</if>
			<if test="checkper != '' and checkper != null">
				AND a.`checkper` like concat('%', #{checkper}, '%') 
			</if>
			<if test="confirm_flag != '' and confirm_flag != null">
				and fi.confirm_flag = #{confirm_flag}
			</if>
			<if test="paragraphtime_starttime != '' and paragraphtime_starttime != null">
				AND fi.`paragraphtime` >= #{paragraphtime_starttime}
			</if>	
			<if test="paragraphtime_endtime != '' and paragraphtime_endtime != null">
				and #{paragraphtime_endtime} >= fi.`paragraphtime`
			</if>
			<if test="expressnum != '' and expressnum != null">
				AND i.`expressnum` like concat('%', #{expressnum}, '%') 
			</if>
			<if test="express_endtime != '' and express_endtime != null">
				AND #{express_endtime} >= i.`expresstime`
			</if>
			<if test="express_starttime != '' and express_starttime != null">
				AND i.`expresstime` >= #{express_starttime}
			</if>	
			order by a.num asc
			<if test="limit != null and limit != null ">
				LIMIT #{start},#{limit}
			</if>
	</select>
	<!-- 查询法医病理信息总数 -->
	<select id="queryAllCount" parameterType="map" resultType="Integer">
		select count(1) 
			FROM
			  tb_folic_acid a 
			   LEFT JOIN `tb_charge_standard` s 
			 ON a.`ownperson` = s.`id` 
			  LEFT JOIN tb_finance_info fi
			  ON a.`id` = fi.`id`
			  LEFT JOIN tb_express_info i 
			    ON a.`id` = i.`id`
			  WHERE 1=1
			<if test="num != '' and num != null">
				and a.num like concat('%', #{num}, '%') 
			</if>	
			<if test="name != '' and name != null">
				and a.name like concat('%', #{name}, '%') 
			</if>	
			<if test="reportif == 1 ">
				AND i.`expresstype` IS NOT NULL
			</if>	
			<if test="reportif == 2 ">
				AND i.`expresstype` IS NULL
			</if>	
			<if test="folicAcid_starttime != '' and folicAcid_starttime != null">
				and a.date >= #{folicAcid_starttime}
			</if>	
			<if test="folicAcid_endtime != '' and folicAcid_endtime != null">
				and #{folicAcid_endtime} >= a.date
			</if>	
			<if test="cancelif != '' and cancelif != null">
				and a.cancelif = #{cancelif}
			</if>	
			<if test="ownperson != '' and ownperson != null">
				and s.`username` like concat('%', #{ownperson}, '%') 
			</if>	
			<if test="agent != '' and agent != null">
				and s.`agentname`  like concat('%', #{agent}, '%') 
			</if>	
			<if test="areacode != '' and areacode != null">
				AND s.`areacode`= #{areacode}
			</if>
			<if test="hospital != '' and hospital != null">
				AND a.`hospital` like concat('%', #{hospital}, '%') 
			</if>
			<if test="checkper != '' and checkper != null">
				AND a.`checkper` like concat('%', #{checkper}, '%') 
			</if>
			<if test="confirm_flag != '' and confirm_flag != null">
				and fi.confirm_flag = #{confirm_flag}
			</if>
			<if test="paragraphtime_starttime != '' and paragraphtime_starttime != null">
				AND fi.`paragraphtime` >= #{paragraphtime_starttime}
			</if>	
			<if test="paragraphtime_endtime != '' and paragraphtime_endtime != null">
				and #{paragraphtime_endtime} >= fi.`paragraphtime`
			</if>
			<if test="expressnum != '' and expressnum != null">
				AND i.`expressnum` like concat('%', #{expressnum}, '%') 
			</if>
			<if test="express_endtime != '' and express_endtime != null">
				AND #{express_endtime} >= i.`expresstime`
			</if>
			<if test="express_starttime != '' and express_starttime != null">
				AND i.`expresstime` >= #{express_starttime}
			</if>	
	</select>
	
	<select id="queryNumExit" parameterType="map" resultType="Integer">
		select count(1) from tb_folic_acid where 1=1 
		<if test="num != '' and num != null">
			and num = #{num}
		</if>
		<if test="id != '' and id != null">
			and id = #{id}
		</if>
	</select>
</mapper>