<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rds.bacera.mapper.RdsBaceraMedTranslationalMapper" >
	<resultMap id="medTranslational" type="com.rds.bacera.model.RdsBaceraMedExamineModel">
		<id column="id" property="id"/>
		<result column='num' property="num"/>
		<result column='name' property="name" />
		<result column='program' property="program" />
		<result column='date' property="date" />
		<result column='remark' property="remark" />
		<result column='remarks' property="remarks" />
		
		<result column='agentname' property="agentname" />
		<result column='ownperson' property="ownperson" />
		<result column='ownpersonname' property="ownpersonname" />
		<result column='cancelif' property="cancelif" />
		
		<result column='receivables' property="receivables" />
		<result column='payment' property="payment" />
		<result column='paid' property="paid" />
		<result column='paragraphtime' property="paragraphtime" />
		<result column='account_type' property="account_type" />
		<result column='expresstype' property="expresstype" />
		<result column='expressnum' property="expressnum" />
		<result column='expressremark' property="expressremark" />
		<result column='recive' property="recive" />
		<result column='expresstime' property="expresstime" />
		<result column='areaname' property="areaname" />
		
		<result column='confirm_flag' property="confirm_flag" />
		<result column='confirm_date' property="confirm_date" />
		<result column='remittanceName' property="remittanceName" />
		<result column='remittanceDate' property="remittanceDate" />
		
		<result column='discountPrice' property="discountPrice" />
	</resultMap>
	
	<insert id="insert" parameterType="map">
		insert into tb_medical_translational
		(id,num,program,name
				<if test="date != '' and date != null">
					,date
				</if>
			,ownperson,remark,create_time
				<if test="inputperson != '' and inputperson != null">
					,inputperson
				</if>
		)values(#{id},#{num},#{program},#{name}
				<if test="date != '' and date != null">
					,#{date}
				</if>
				,#{ownperson},#{remark},now()
				<if test="inputperson != '' and inputperson != null">
					,#{inputperson}
				</if>
				)
	</insert>
	
	<update id="update" parameterType="map">
		update tb_medical_translational 
		set 
		    create_time = now()
			<if test="num != null">
				,num=#{num}
			</if>
			<if test="name != null">
				,name=#{name}
			</if>	
			<if test="date != null">
				,date=#{date}
			</if>	
			<if test="program != null">
				,program=#{program}
			</if>	
			<if test="ownperson != null">
				,ownperson=#{ownperson}
			</if>		
			<if test="remark != null">
				,remark=#{remark}
			</if>		
			<if test="inputperson != null">
				,inputperson=#{inputperson}
			</if>	
			<if test="cancelif != '' and cancelif != null">
				,cancelif=#{cancelif}
			</if>	
			where id = #{id}
	</update>
	
	<!-- 根据id删除信息 -->
	<delete id="delete" parameterType="map">
		delete from tb_medical_translational where id = #{id}
	</delete>
	
	<select id="queryAllPage" parameterType="map" resultMap="medTranslational">
		 SELECT 
			  a.`id`,
			  a.`num`,
			  a.`date`,
			  a.`ownperson` AS ownperson,
			  s.`username` AS ownpersonname,
			  s.`agentname`,
			  s.`areaname`,
			  a.`program`,
			  a.`name`,
			  a.`remark`,
			  fi.`receivables`,
			  fi.`payment`,
			  fi.`paid`,
			  fi.`paragraphtime`,
			  fi.discountPrice,
			  fi.`account_type`,
			  fi.remarks,
			  fi.remittanceDate,
			  fi.remittanceName,
			  fi.confirm_flag,
			  fi.confirm_date,
			  i.`expressnum`,
			  i.`expresstype`,
			  i.`recive`,
			  i.expresstime,
			  a.`cancelif` , 
			  i.expressremark
			FROM
			  tb_medical_translational a 
			 LEFT JOIN `tb_charge_standard` s 
			 ON a.`ownperson` = s.`id` 
			  LEFT JOIN tb_finance_info fi
			  ON a.`id` = fi.`id`
			  LEFT JOIN tb_express_info i 
			    ON a.`id` = i.`id`
			  WHERE 1=1
			<if test="num != '' and num != null">
				and a.num like concat('%', #{num}, '%') 
			</if>
			<if test="program != '' and program != null">
				and a.program like concat('%', #{program}, '%') 
			</if>	
			<if test="reportif == 1 ">
				AND i.`expresstype` IS NOT NULL
			</if>	
			<if test="reportif == 2 ">
				AND i.`expresstype` IS NULL
			</if>	
			<if test="medTranslational_starttime != '' and medTranslational_starttime != null">
				and a.date >= #{medTranslational_starttime}
			</if>	
			<if test="medTranslational_endtime != '' and medTranslational_endtime != null">
				and #{medTranslational_endtime} >= a.date
			</if>	
			<if test="cancelif != '' and cancelif != null">
				and a.cancelif = #{cancelif}
			</if>	
			<if test="ownperson != '' and ownperson != null">
				and s.`username` like concat('%', #{ownperson}, '%') 
			</if>	
			<if test="agent != '' and agent != null">
				and s.`agentname`  like concat('%', #{agent}, '%') 
			</if>	
			<if test="areacode != '' and areacode != null">
				AND s.`areacode`= #{areacode}
			</if>
			<if test="name != '' and name != null">
				AND a.`name` like concat('%', #{name}, '%') 
			</if>
			<if test="confirm_flag != '' and confirm_flag != null">
				and fi.confirm_flag = #{confirm_flag}
			</if>
			<if test="paragraphtime_starttime != '' and paragraphtime_starttime != null">
				AND fi.`paragraphtime` >= #{paragraphtime_starttime}
			</if>	
			<if test="paragraphtime_endtime != '' and paragraphtime_endtime != null">
				and #{paragraphtime_endtime} >= fi.`paragraphtime`
			</if>
			<if test="expressnum != '' and expressnum != null">
				AND i.`expressnum` like concat('%', #{expressnum}, '%') 
			</if>
			<if test="express_endtime != '' and express_endtime != null">
				AND #{express_endtime} >= i.`expresstime`
			</if>
			<if test="express_starttime != '' and express_starttime != null">
				AND i.`expresstime` >= #{express_starttime}
			</if>	
			order by a.num desc
			<if test="limit != null and limit != null ">
				LIMIT #{start},#{limit}
			</if>
	</select>
	
	<select id="queryAllCount" parameterType="map" resultType="Integer">
		SELECT 
			 count(1)
			FROM
			  tb_medical_translational a 
			 LEFT JOIN `tb_charge_standard` s 
			 ON a.`ownperson` = s.`id` 
			  LEFT JOIN tb_finance_info fi
			  ON a.`id` = fi.`id`
			  LEFT JOIN tb_express_info i 
			    ON a.`id` = i.`id`
			  WHERE 1=1
			<if test="num != '' and num != null">
				and a.num like concat('%', #{num}, '%') 
			</if>	
			<if test="program != '' and program != null">
				and a.program like concat('%', #{program}, '%') 
			</if>
			<if test="reportif == 1 ">
				AND i.`expresstype` IS NOT NULL
			</if>	
			<if test="reportif == 2 ">
				AND i.`expresstype` IS NULL
			</if>	
			<if test="medTranslational_starttime != '' and medTranslational_starttime != null">
				and a.date >= #{medTranslational_starttime}
			</if>	
			<if test="medTranslational_endtime != '' and medTranslational_endtime != null">
				and #{medTranslational_endtime} >= a.date
			</if>	
			<if test="cancelif != '' and cancelif != null">
				and a.cancelif = #{cancelif}
			</if>	
			<if test="ownperson != '' and ownperson != null">
				and s.`username` like concat('%', #{ownperson}, '%') 
			</if>	
			<if test="agent != '' and agent != null">
				and s.`agentname`  like concat('%', #{agent}, '%') 
			</if>	
			<if test="areacode != '' and areacode != null">
				AND s.`areacode`= #{areacode}
			</if>
			<if test="name != '' and name != null">
				AND a.`name` like concat('%', #{name}, '%') 
			</if>
			<if test="confirm_flag != '' and confirm_flag != null">
				and fi.confirm_flag = #{confirm_flag}
			</if>
			<if test="paragraphtime_starttime != '' and paragraphtime_starttime != null">
				AND fi.`paragraphtime` >= #{paragraphtime_starttime}
			</if>	
			<if test="paragraphtime_endtime != '' and paragraphtime_endtime != null">
				and #{paragraphtime_endtime} >= fi.`paragraphtime`
			</if>
			<if test="expressnum != '' and expressnum != null">
				AND i.`expressnum` like concat('%', #{expressnum}, '%') 
			</if>
			<if test="express_endtime != '' and express_endtime != null">
				AND #{express_endtime} >= i.`expresstime`
			</if>
			<if test="express_starttime != '' and express_starttime != null">
				AND i.`expresstime` >= #{express_starttime}
			</if>	
	</select>
	
	<select id="queryNumExit" parameterType="map" resultType="Integer">
		select count(1) from tb_medical_translational where 1=1 
		<if test="num != '' and num != null">
			and num = #{num}
		</if>
		<if test="id != '' and id != null">
			and id = #{id}
		</if>
	</select>
	
	<select id="queryProgram" resultType="com.rds.judicial.model.RdsJudicialKeyValueModel">
		select t.program_name as "key", t.program_name as "value" from tb_medical_translational_program t
	</select>
	
	<insert id="insertProgram" parameterType="map">
		insert into tb_medical_translational_program(id,program_name)
		values(#{id},#{program_name})
	</insert>
	
	<select id="queryProgramCount" parameterType="map" resultType="Integer">
		select count(1) from tb_medical_translational_program t where t.program_name = #{program_name}
	</select>
</mapper>