<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.rds.bacera.mapper.RdsBaceraChildPCRMapper" >
	<resultMap id="childPCR" type="com.rds.bacera.model.RdsBaceraChildPCRModel">
		<id column="id" property="id"/>
		<result column='num' property="num"/>
		<result column='codenum' property="codenum"/>
		<result column='date' property="date" />
		<result column='name' property="name" />
		<result column='fmname' property="fmname" />
		<result column='age' property="age" />
		<result column='testitems' property="testitems" />
		<result column='checkper' property="checkper" />
		<result column='phonenum' property="phonenum" />
		<result column='gender' property="gender" />
		<result column='remark' property="remark" />
		<result column='remarks' property="remarks" />
		<result column='cancelif' property="cancelif" />
		
		<result column='agentname' property="agentname" />
		<result column='ownperson' property="ownperson" />
		<result column='ownpersonname' property="ownpersonname" />
		
		<result column='receivables' property="receivables" />
		<result column='payment' property="payment" />
		<result column='paid' property="paid" />
		<result column='paragraphtime' property="paragraphtime" />
		<result column='account_type' property="account_type" />
		
		<result column='expresstype' property="expresstype" />
		<result column='expressnum' property="expressnum" />
		<result column='expressremark' property="expressremark" />
		<result column='recive' property="recive" />
		<result column='expresstime' property="expresstime" />
		<result column='areaname' property="areaname" />
		<result column='remittanceName' property="remittanceName" />
		<result column='remittanceDate' property="remittanceDate" />
		
		<result column='discountPrice' property="discountPrice" />
		
		<result column='confirm_flag' property="confirm_flag" />
		<result column='confirm_date' property="confirm_date" />
		<result column='reportType' property="reportType" />
		<result column='orderPlatform' property="orderPlatform" />
		<result column='inspectionUnits' property="inspectionUnits" />
		<result column='case_type' property="case_type" />
		
	</resultMap>
	<!-- 插入肿瘤易感基因检测信息-->
	<insert id="insert" parameterType="map">
	insert into tb_child_pcr
	(id,num,codenum
			<if test="date != '' and date != null">
				,date
			</if>
		,name,fmname,age,testitems,checkper,ownperson,remark,phonenum,gender,reportType,orderPlatform,inspectionUnits,case_type,create_time
			<if test="inputperson != '' and inputperson != null">
				,inputperson
			</if>
	)values(#{id},#{num},#{codenum}
			<if test="date != '' and date != null">
				,#{date}
			</if>
			,#{name},#{fmname},#{age},#{testitems},#{checkper},#{ownperson},#{remark},#{phonenum},#{gender},#{reportType},#{orderPlatform},#{inspectionUnits},#{case_type},sysdate()
			<if test="inputperson != '' and inputperson != null">
				,#{inputperson}
			</if>
			)
	</insert>
	<!-- 更新法肿瘤易感基因信息 -->
	<update id="update" parameterType="map">
		update tb_child_pcr 
		set 
			<if test="num != '' and num != null">
				num=#{num}
			</if>	
			<if test="codenum != '' and codenum != null">
				,codenum=#{codenum}
			</if>	
			<if test="date != '' and date != null">
				,date=#{date}
			</if>	
			<if test="name != null">
				,name=#{name}
			</if>	
			<if test="fmname != null">
				,fmname=#{fmname}
			</if>
			<if test="age != null">
				,age=#{age}
			</if>	
			<if test="phonenum != null">
				,phonenum=#{phonenum}
			</if>	
			<if test="testitems != null">
				,testitems=#{testitems}
			</if>	
			<if test="checkper != null">
				,checkper=#{checkper}
			</if>	
			<if test="ownperson != null">
				,ownperson=#{ownperson}
			</if>	
			<if test="remark != null">
				,remark=#{remark}
			</if>	
			<if test="gender != null">
				,gender=#{gender}
			</if>	
			<if test="cancelif != '' and cancelif != null">
				,cancelif=#{cancelif}
			</if>	
			<if test="reportType != null">
				,reportType=#{reportType}
			</if>
			<if test="orderPlatform != null">
				,orderPlatform=#{orderPlatform}
			</if>
			<if test="inspectionUnits != null">
				,inspectionUnits=#{inspectionUnits}
			</if>
			<if test="case_type != null">
				,case_type=#{case_type}
			</if>
			where id = #{id}
	</update>
	<!-- 根据id删除信息 -->
	<delete id="delete" parameterType="map">
		delete from tb_child_pcr where id = #{id}
	</delete>
	<!-- 分页查询肿瘤易感基因信息 -->
	<select id="queryAllPage" parameterType="map" resultMap="childPCR">
		 SELECT 
			  a.`id`,
			  a.`num`,
			  a.codenum,
			  a.`name`,
			  a.fmname,
			  a.`date`,
			  a.`age`,
			  a.`testitems`,
			  a.`phonenum`,
			  a.gender,
			  a.`ownperson` AS ownperson,
			  s.`username` AS ownpersonname,
			  s.`agentname`,
			  s.`areaname`,
			  a.`remark`,
			  a.`checkper`,
			  a.reportType,
			  a.orderPlatform,
			  a.inspectionUnits,
			  a.case_type,
			  fi.`receivables`,
			  fi.`payment`,
			  fi.`paid`,
			  fi.`paragraphtime`,
			  fi.discountPrice,
			  fi.fees,
			  fi.siteFee,
			  fi.`account_type`,
			  fi.remarks,
			  fi.remittanceDate,
			  fi.remittanceName,
			  fi.confirm_flag,
			  fi.confirm_date,
			  i.`expressnum`,
			  i.`expresstype`,
			  i.`recive`,
			  i.expresstime,
			  a.`cancelif`,
			  i.expressremark
			FROM
			  tb_child_pcr a 
			  LEFT JOIN `tb_charge_standard` s 
			 ON a.`ownperson` = s.`id`
			  LEFT JOIN tb_finance_info fi
			  ON a.`id` = fi.`id`
			  LEFT JOIN tb_express_info i 
			    ON a.`id` = i.`id`
			  WHERE 1=1
			<if test="num != '' and num != null">
				and a.num like concat('%', #{num}, '%') 
			</if>	
			<if test="codenum != '' and codenum != null">
				and a.codenum like concat('%', #{codenum}, '%') 
			</if>
			<if test="name != '' and name != null">
				and a.name like concat('%', #{name}, '%') 
			</if>
			<if test="fmname != '' and fmname != null">
				and a.fmname like concat('%', #{fmname}, '%') 
			</if>
			<if test="inspectionUnits != '' and inspectionUnits != null">
				and a.inspectionUnits like concat('%', #{inspectionUnits}, '%') 
			</if>
			<if test="reportType != '' and reportType != null">
				and a.reportType like concat('%', #{reportType}, '%') 
			</if>
			<if test="orderPlatform != '' and orderPlatform != null">
				and a.orderPlatform like concat('%', #{orderPlatform}, '%') 
			</if>	
			<if test="reportif == 1 ">
				AND i.`expresstype` IS NOT NULL
			</if>	
			<if test="reportif == 2 ">
				AND i.`expresstype` IS NULL
			</if>	
			<if test="childPCR_starttime != '' and childPCR_starttime != null">
				and a.date >= #{childPCR_starttime}
			</if>	
			<if test="childPCR_endtime != '' and childPCR_endtime != null">
				and #{childPCR_endtime} >= a.date
			</if>	
			<if test="cancelif != '' and cancelif != null">
				and a.cancelif = #{cancelif}
			</if>	
			<if test="ownperson != '' and ownperson != null">
				and s.`username` like concat('%', #{ownperson}, '%') 
			</if>	
			<if test="agent != '' and agent != null">
				and s.`agentname`  like concat('%', #{agent}, '%') 
			</if>	
			<if test="areacode != '' and areacode != null">
				AND s.`areacode`= #{areacode}
			</if>
			<if test="gender != '' and gender != null">
				AND a.`gender`= #{gender}
			</if>
			<if test="checkper != '' and checkper != null">
				AND a.`checkper` like concat('%', #{checkper}, '%') 
			</if>
			<if test="confirm_flag != '' and confirm_flag != null">
				and fi.confirm_flag = #{confirm_flag}
			</if>
			<if test="paragraphtime_starttime != '' and paragraphtime_starttime != null">
				AND fi.`paragraphtime` >= #{paragraphtime_starttime}
			</if>	
			<if test="paragraphtime_endtime != '' and paragraphtime_endtime != null">
				and #{paragraphtime_endtime} >= fi.`paragraphtime`
			</if>
			<if test="expressnum != '' and expressnum != null">
				AND i.`expressnum` like concat('%', #{expressnum}, '%') 
			</if>
			<if test="express_endtime != '' and express_endtime != null">
				AND #{express_endtime} >= i.`expresstime`
			</if>
			<if test="express_starttime != '' and express_starttime != null">
				AND i.`expresstime` >= #{express_starttime}
			</if>	
			<if test="case_type != '' and case_type != null">
				AND a.case_type = #{case_type}
			</if>
			order by a.num desc
			<if test="limit != null and limit != null ">
				LIMIT #{start},#{limit}
			</if>
	</select>
	<!-- 查询法医病理信息总数 -->
	<select id="queryAllCount" parameterType="map" resultType="Integer">
		select count(1) 
			FROM
			  tb_child_pcr a 
			 LEFT JOIN `tb_charge_standard` s 
			 ON a.`ownperson` = s.`id`
			  LEFT JOIN tb_finance_info fi
			  ON a.`id` = fi.`id`
			  LEFT JOIN tb_express_info i 
			    ON a.`id` = i.`id`
			<if test="num != '' and num != null">
				and a.num like concat('%', #{num}, '%') 
			</if>	
			<if test="codenum != '' and codenum != null">
				and a.codenum like concat('%', #{codenum}, '%') 
			</if>
			<if test="name != '' and name != null">
				and a.name like concat('%', #{name}, '%') 
			</if>
			<if test="fmname != '' and fmname != null">
				and a.fmname like concat('%', #{fmname}, '%') 
			</if>
			<if test="reportType != '' and reportType != null">
				and a.reportType like concat('%', #{reportType}, '%') 
			</if>
			<if test="orderPlatform != '' and orderPlatform != null">
				and a.orderPlatform like concat('%', #{orderPlatform}, '%') 
			</if>	
			<if test="inspectionUnits != '' and inspectionUnits != null">
				and a.inspectionUnits like concat('%', #{inspectionUnits}, '%') 
			</if>
			<if test="reportif == 1 ">
				AND i.`expresstype` IS NOT NULL
			</if>	
			<if test="reportif == 2 ">
				AND i.`expresstype` IS NULL
			</if>	
			<if test="childPCR_starttime != '' and childPCR_starttime != null">
				and a.date >= #{childPCR_starttime}
			</if>	
			<if test="childPCR_endtime != '' and childPCR_endtime != null">
				and #{childPCR_endtime} >= a.date
			</if>	
			<if test="cancelif != '' and cancelif != null">
				and a.cancelif = #{cancelif}
			</if>	
			<if test="ownperson != '' and ownperson != null">
				and s.`username` like concat('%', #{ownperson}, '%') 
			</if>	
			<if test="agent != '' and agent != null">
				and s.`agentname`  like concat('%', #{agent}, '%') 
			</if>	
			<if test="areacode != '' and areacode != null">
				AND s.`areacode`= #{areacode}
			</if>
			<if test="gender != '' and gender != null">
				AND a.`gender`= #{gender}
			</if>
			<if test="checkper != '' and checkper != null">
				AND a.`checkper` like concat('%', #{checkper}, '%') 
			</if>
			<if test="confirm_flag != '' and confirm_flag != null">
				and fi.confirm_flag = #{confirm_flag}
			</if>
			<if test="paragraphtime_starttime != '' and paragraphtime_starttime != null">
				AND fi.`paragraphtime` >= #{paragraphtime_starttime}
			</if>	
			<if test="paragraphtime_endtime != '' and paragraphtime_endtime != null">
				and #{paragraphtime_endtime} >= fi.`paragraphtime`
			</if>
			<if test="expressnum != '' and expressnum != null">
				AND i.`expressnum` like concat('%', #{expressnum}, '%') 
			</if>
			<if test="express_endtime != '' and express_endtime != null">
				AND #{express_endtime} >= i.`expresstime`
			</if>
			<if test="express_starttime != '' and express_starttime != null">
				AND i.`expresstime` >= #{express_starttime}
			</if>	
			<if test="case_type != '' and case_type != null">
				AND a.case_type = #{case_type}
			</if>
	</select>
	
	<select id="queryNumExit" parameterType="map" resultType="Integer">
		select count(1) from tb_child_pcr where 1=1 
		<if test="num != '' and num != null">
			and num = #{num}
		</if>
		<if test="id != '' and id != null">
			and id = #{id}
		</if>
		<if test="case_type != '' and case_type != null">
			and case_type = #{case_type}
		</if>
	</select>
</mapper>